body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 16px 0px;
}

table, th, td {
    border: 1px solid black;
}

.row {
    display: block;
}

.col {
    display: block;
}

.button {
    background-color: #4192D9;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 16px 32px;
    cursor: pointer;
}

.button-fill {
    background-color: #4192D9;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.active {
    stroke: #4192D9;
    fill: #7ABAF2;
    background-color: #7ABAF2;
}

#mapid {
    height: 250px;
}
