<!DOCTYPE html>

{% load static from staticfiles %}

<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="stylesheet" href="{% static '/js/leaflet/leaflet.css' %}"/>
    <script src="{% static '/js/leaflet/leaflet.js' %}"></script>
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>

    <script>
        $(document).ready(function(){
            $.ajax({
                url: "{% url 'cart_get_length' %}",
                cache: true,
                //beforeSend: function(request) {
                //    request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                //},
                })
                .done(function(count) {
                    $('#cartItemsCount').text(count);
                    console.log(count);
                });
        });
    </script>

    {% block scripts %}
    {% endblock %}

</head>
    <title>CopernicusExplorer - {% block name %} {% endblock %} {{ name }}</title>
</head>

<body>
    <div class="container">
    <div class="row navigation-bar">

            <img class="logo" src="{% static 'images/logow.png' %}"/>

        <ul>
            <li><a href="{% url 'cart_show_all' %}">Koszyk (<span id="cartItemsCount"></span>)</a></li>
            <li><a href="{% url 'pages_about' %}">O stronie</a></li>
            <li><a href="{% url 'pages_help' %}">Pomoc</a></li>
            <li><a href="{% url 'search_form' %}">Strona główna</a></li>
        </ul>
    </div>

    <div class="row banner">
        <div class="header">
            <h1>{% block header %} {% endblock %}</h1>
        </div>
         <div class="description">
            Jezioro Mietkowskie
        </div>
        <div class="contribution">
            © Copernicus Sentinel data {% now "Y" %}
        </div>
    </div>

    <div class="row">
        {% block content %}

        {% endblock %}
    </div>

    <div class="row footer">

    </div>
    </div>
</body>
</html>