{% extends "layout.html" %}

{% block name %}

    Twój koszyk

{% endblock %}

{% block header %}

    Twój koszyk

{% endblock %}

{% block scripts %}

<script>
    function requestRemoveFromCart(id){
        var xhttp = new XMLHttpRequest();

        xhttp.open("POST", "{% url 'cart_remove' %}", true);

        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

        xhttp.onreadystatechange = function () {
            if(xhttp.readyState === XMLHttpRequest.DONE && xhttp.status === 200) {

            var elem = document.getElementById(id);
            elem.parentNode.removeChild(elem);
            }
        };

        reqBody = "id=" + id
        xhttp.send(reqBody);
    };

    function requestEmptyCart(){
        var xhttp = new XMLHttpRequest();

        xhttp.open("POST", "{% url 'cart_empty' %}", true);

        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

        xhttp.send();
    };
</script>

<script>
    $(document).ready(function(){
        $("tr, path").hover(function(){
            var productClass = "." + $(this).attr("class").split(' ')[0];
            if (productClass != '.leaflet-interactive') {
                console.log(productClass)
                //$(this).toggleClass("active");
                $(productClass).toggleClass("active");
            }
        });
    });
</script>

<script>
    function selectBands(className){
        $('.' + className).prop('checked', true);
    };

    function deselectBands(){
        $('.order').prop('checked', false);
    };
</script>

{% endblock %}

{% block content %}
    <div class="row" id="mapid">
        <script>
            var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            osm = L.tileLayer(osmUrl, { maxZoom: 18, attribution: osmAttrib }),
            map = new L.Map('mapid', {center: new L.LatLng(52.07, 19.48), zoom: 5, minZoom: 5 }),
            drawnItems = L.featureGroup().addTo(map);
            osm.addTo(map);

            {{ search_extent|safe }}

            {% for i_g in items_geom %}
                {{ i_g|safe }}
            {% endfor %}
        </script>
    </div>

    <div class="row">
        <h2>Produkty w koszyku</h2>
        <table>
            <tr>
                <th>ID produktu</th>
                <th>Satelita</th>
                <th>Data pozyskania</th>
                <th>Kierunek orbity</th>
                <th>Typ produktu</th>
                <th>Tryb sensora</th>
                <th>Względny numer orbity</th>
            </tr>
            {% for p in cart %}
            <tr class="{{ p.id }}">
                <td>{{ p.id }}</td>
                <td>{{ p.satellite }}</td>
                <td> {{ p.ingestion_date|date:'Y-m-d H:i:s' }} </td>
                <td> {{ p.orbit_direction }} </td>
                <td> {{ p.product_type }} </td>
                <td> {{ p.mode }} </td>
                <td> {{ p.relative_orbit_number }} </td>
                <td><button onclick="requestRemoveFromCart('{{ p.id }}')" class="button-fill">Usuń</button></td>
            </tr>
        {% endfor %}
        </table>

        <button onclick="requestEmptyCart('{{ p.id }}')" class="button">Opróżnij koszyk</button>
    </div>

    <div class="row">
        <div class="row">
            <h2>Zamówienie</h2>

            <form action="{% url 'order_confirm' %}" method="post">
                {% csrf_token %}

                {{ form.non_field_errors }}
                {{ form.source.errors }}
                {{ form.source }}
                <div class="form-row">
                    <div class="form-title">
                        {{ form.layers.label_tag }}
                    </div>
                {% if cart_type == 'S1' %}
                    <ul id="id_layers">
                    <li>
                        <label for="id_layers_0">
                            <input type="checkbox" name="layers" value="hh" id="id_layers_0">
                            HH
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_1">
                            <input type="checkbox" name="layers" value="hv" id="id_layers_1">
                            HV
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_2">
                            <input type="checkbox" name="layers" value="vh" id="id_layers_2">
                            VH
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_3">
                            <input type="checkbox" name="layers" value="vv" id="id_layers_3">
                            VV
                        </label>
                    </li>
                </ul>
                {% elif cart_type == 'S2' %}
                    <div class="form-formbox">
                        <input type="button" class="button-inline" value="Wszystko" onclick="selectBands('order')" />
                        <input type="button" class="button-inline" value="Wyczyść" onclick="deselectBands()" />
                        <input type="button" class="button-inline button-highlighted" value="Rolnictwo" onclick="selectBands('agriculture')" />
                        <input type="button" class="button-inline button-highlighted" value="Leśnictwo" onclick="selectBands('forestry')" />
                        <input type="button" class="button-inline button-highlighted" value="Hydrologia" onclick="selectBands('hydrology')" />
                    </div>
                    <div class="form-row">
                        <ul class="form-inline" id="id_layers" >
                    <div class="form-title">
                    Rozdzielczość 10m:
                    </div>

                    <li>
                        <label for="id_layers_4">
                            <input type="checkbox" name="layers" value="B02_10m" class="order hydrology" id="id_layers_4">
                            B2
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_5">
                            <input type="checkbox" name="layers" value="B03_10m" class="order hydrology" id="id_layers_5">
                            B3
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_6">
                            <input type="checkbox" name="layers" value="B04_10m" class="order" id="id_layers_6">
                            B4
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_7">
                            <input type="checkbox" name="layers" value="B08_10m" class="order forestry hydrology" id="id_layers_7">
                            B8
                        </label>
                    </li>

                    <div class="form-title">
                        Rozdzielczość 20m:
                    </div>

                    <li>
                        <label for="id_layers_8">
                            <input type="checkbox" name="layers" value="B02_20m" class="order" id="id_layers_8">
                            B2
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_9">
                            <input type="checkbox" name="layers" value="B03_20m" class="order" id="id_layers_9">
                            B3
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_10">
                            <input type="checkbox" name="layers" value="B04_20m" class="order agriculture forestry" id="id_layers_10">
                            B4
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_11">
                            <input type="checkbox" name="layers" value="B05_20m" class="order forestry" id="id_layers_11">
                            B5
                        </label>
                    </li>

                    <li>
                        <label for="id_layers_12">
                            <input type="checkbox" name="layers" value="B06_20m" class="order forestry" id="id_layers_12">
                            B6
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_13">
                            <input type="checkbox" name="layers" value="B07_20m" class="order" id="id_layers_13">
                            B7
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_14">
                            <input type="checkbox" name="layers" value="B8A_20m" class="order agriculture" id="id_layers_14">
                            B8A
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_15">
                            <input type="checkbox" name="layers" value="B11_20m" class="order agriculture" id="id_layers_15">
                            B11
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_16">
                            <input type="checkbox" name="layers" value="B12_20m" class="order" id="id_layers_16">
                            B12
                        </label>
                    </li>


                    <div class="form-title">
                        Rozdzielczość 60m:
                    </div>

                    <li>
                        <label for="id_layers_17">
                            <input type="checkbox" name="layers" value="B01_60m" class="order" id="id_layers_17">
                            B1
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_18">
                            <input type="checkbox" name="layers" value="B02_60m" class="order" id="id_layers_18">
                            B2
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_19">
                            <input type="checkbox" name="layers" value="B03_60m" class="order" id="id_layers_19">
                            B3
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_20">
                            <input type="checkbox" name="layers" value="B04_60m" class="order" id="id_layers_20">
                            B4
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_21">
                            <input type="checkbox" name="layers" value="B05_60m" class="order" id="id_layers_21">
                            B5
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_22">
                            <input type="checkbox" name="layers" value="B06_60m" class="order" id="id_layers_22">
                            B6
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_23">
                            <input type="checkbox" name="layers" value="B07_60m" class="order" id="id_layers_23">
                            B7
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_24">
                            <input type="checkbox" name="layers" value="B8A_60m" class="order" id="id_layers_24">
                            B8A
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_25">
                            <input type="checkbox" name="layers" value="B09_60m" class="order" id="id_layers_25">
                            B09
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_26">
                            <input type="checkbox" name="layers" value="B11_60m" class="order" id="id_layers_26">
                            B11
                        </label>
                    </li>
                    <li>
                        <label for="id_layers_27">
                            <input type="checkbox" name="layers" value="B12_60m" class="order" id="id_layers_27">
                            B12
                        </label>
                    </li>
                </ul>
                    </div>
                {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-title">
                    {{ form.e_mail.label_tag }}
                    </div>

                    {{ form.e_mail.errors }}
                    {{ form.e_mail }}
                    {{ form.e_mail.help_text }}
                </div>
                <div class="form-row">
                    <div class="form-title">
                    {{ form.captcha.label_tag }}
                    </div>

                    {{ form.captcha.errors }}
                    {{ form.captcha }}
                    {{ form.captcha.help_text }}
                </div>

            <input type="submit" class="button button-highlighted" value="Złóż zamówienie" />
            </form>
        </div>
    </div>

{% endblock %}