{% extends "layout.html" %}

{% block content %}
    <h1>Potwierdzenie złożenia zamówienia</h1>
    <p>Zamówienie oczekuje na realizację</p>

    <p>ID zamówienia: {{ order.id }}</p>
    <p>Status zamówienia: {{ order.status }}</p>
    <p>Data złożenia zamówienia: {{ order.ordered_date_time }}</p>
    <p>Adres e-mail: {{ order.e_mail }}</p>

    <p>Śledzenie statusu zamówienia i pobranie go jest możliwe pod poniższym linkiem:</p>
    <p><a href="{% 'order_detail' order_id=order.id %}">{{ order.id }}</a></p>

{% endblock %}